# Target Files
/target

# logs
/logs

/docs

# Eclipse related files
/.classpath
/.project
/.settings
/.factorypath

# web application files or other files
/.apt_generated/
/node_modules/
/src/main/webapp/resources/
